MALL_KAFKA_BOOTSTRAP_SERVERS=localhost:9094
MALL_KAFKA_CONSUMER_GROUP=mall-learning-group

MALL_PG_DB=mall
MALL_PG_USER=mall
MALL_PG_PASSWORD=mall123

MALL_MINIO_ROOT_USER=mallminio
MALL_MINIO_ROOT_PASSWORD=mallminio123
MALL_MINIO_ENDPOINT=http://127.0.0.1:9000
MALL_MINIO_BUCKET=mall-product-images
MALL_MINIO_PUBLIC_BASE_URL=http://127.0.0.1:9000
